<div class="row">
  <div class="col-md-10">
    <app-shopping-edit></app-shopping-edit>
    <mat-divider></mat-divider>
    <mat-card *ngFor="let r of ingredients; let i = index" class="itm">
      <mat-card-header>
        <mat-card-title>{{r.name}} ({{r.quantity}})</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button>
          <mat-icon class="error-hint">delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
